@use 'styles/classes.scss' as *;

@keyframes slide-in {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 15px;
  padding: 20px 0;
  max-width: 1860px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 1200px) {
    column-gap: 50px;
  }
  @media screen and (min-width: 1400px) {
    column-gap: 100px;
  }

  &_burgered {
    .header__content {
      position: fixed;
      top: 0;
      height: 100%;
    }
    .header__content-inner {
      animation: slide-in 0.2s ease-in;
      display: flex;
      flex-direction: column;
      row-gap: 15px;
      background: #fff;
      width: calc(100% - 30px);
      padding: 20px;
      border-radius: 0 0 10px 10px;
    }
    .header__burger-bg,
    .header__nav,
    .header__demo,
    .header__close-burger-menu {
      display: flex;
    }
    .header__nav-inner {
      flex-direction: column;
      row-gap: 20px;
      margin: 0 auto;
      text-align: center;
    }
    .header__demo,
    .header__nav-item {
      margin: 0 auto;
    }
    .header__authorize-actions {
      justify-content: center;
      margin: 0;
    }
    .header__demo span:last-child {
      display: inline;
    }
  }

  &__logo {
    @include mobile {
      margin: 0 auto;
    }
  }

  &__close-burger-menu {
    display: none;
    position: absolute;
    top: 10px;
    right: 35px;
    z-index: 2;
  }

  &__burger {
    display: flex;

    @media screen and (min-width: 990px) {
      display: none;
    }
  }

  &__burger-bg {
    display: none;
    position: absolute;
    inset: 0;
    height: 100%;
    left: -15px;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -5;
  }

  &__content {
    width: 100%;
  }

  &__content-inner {
    width: 100%;
    display: none;
    gap: 10px;

    @include tablet {
      display: flex;
      align-items: center;
    }
  }

  &__authorize-actions {
    display: flex;
    column-gap: 10px;

    @include tablet {
      margin-left: auto;
    }
    @include desktop {
      margin-left: 0;
    }
  }

  &__nav {
    display: none;

    @include desktop {
      display: block;
    }
  }

  &__nav-inner {
    display: flex;
    gap: 10px;

    @media screen and (min-width: 1300px) {
      gap: 20px;
    }
  }

  &__nav-item {
    color: var(--black);
    line-height: 110%;
    width: fit-content;
    transition: background-color 150ms;
    padding: 8px;
    border-radius: 4px;
    font-size: 14px;

    &:hover {
      background-color: var(--grey);
    }

    @media screen and (min-width: 1100px) {
      font-size: 18px;
    }
  }

  &__demo {
    display: none;
    margin-left: auto;

    @include desktop {
      display: block;
    }

    .btn {
      align-items: center;
      column-gap: 8px;
      font-size: 14px;
      display: flex;

      @media screen and (min-width: 1200px) {
        font-size: 18px;
      }
    }

    img {
      width: 22px;
      height: 22px;
    }
    span {
      &:first-child {
        @media screen and (max-width: 1160px) {
          display: none;
        }
      }
      &:last-child {
        @media screen and (max-width: 1330px) {
          display: none;
        }
      }
    }
  }
}
